In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
data = pd.read_csv('./data/main_data.csv')
data.head()

,movie_id,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,1,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,2,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,3,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,4,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,5,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [15]:
data.shape

(6010, 8)

In [16]:
#Convert the text to a matrix of token counts
cm = CountVectorizer().fit_transform(data['comb'])
#cosine similarity matrix from the count matrix
cs = cosine_similarity(cm)
cs

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.        ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.        ],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10540926,
        0.1       ],
       [0.        , 0.        , 0.        , ..., 0.10540926, 1.        ,
        0.10540926],
       [0.        , 0.        , 0.        , ..., 0.1       , 0.10540926,
        1.        ]])

In [17]:
cs.shape

(6010, 6010)

In [26]:
#get the title of the movie that the user likes
movie_title = 'avengers: age of ultron'

#find the movies id
movie_id = data[data.movie_title ==movie_title]['movie_id'].values[0]

In [27]:
#create a list of enumerations for the similarity score [(movie_id,similarity_score), ..]
scores = list(enumerate(cs[movie_id]))
sorted_scores = sorted(scores,key=lambda x:x[1],reverse= True)
sorted_scores = sorted_scores[1:]

In [29]:
#Creating a loop for the most 10 similar movies
j=0
print('The 10 most recommened movies to',movie_title,'are\n')
for movie in sorted_scores:
    movie_title = data[data.movie_id == movie[0]]['movie_title'].values[0]
    print(j+1,movie_title)
    j = j+1
    if j>9:
        break

The 10 most recommened movies to avengers: age of ultron are

1 alexander
2 harry potter and the order of the phoenix
3 the adventures of tintin
4 minority report
5 poseidon
6 megamind
7 my big fat independent movie
8 the marine 6: close quarters
9 i am legend
10 the siege